:root {
  --font-size-small: clamp(0.8rem, 2vw, 1rem);
  --font-size-medium: clamp(1rem, 2.5vw, 1.25rem);
  --font-size-large: clamp(3rem, 3.4vw, 6rem);
  --font-size-xl: clamp(4rem, 4.8vw, 8rem);
  --padding-xs: 0.2rem;
  --padding-small: 1rem;
  --padding-large: 3rem;
  --gap-small: 1rem;
  --gap-large: 12rem;
  --max-width-small: 600px;
  --max-width-large: 100%;
  --icon-size-small: 24px;
  --icon-size-large: 40px;
  --icon-size-xl: 56px;
}

.typing::after {
  content: '|';
  animation: blink 1s infinite;
}

.hidden {
  display: none;
}

@keyframes blink {
  50% { opacity: 0; }
}

@keyframes fade-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fade-in-logo {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes fade-in-cta {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out-up {
  animation: fade-out-up 1s ease-in-out forwards;
}

.fade-in-cta {
  animation: fade-in-cta 1s ease-in-out forwards;
}

.fade-in-logo {
  animation: fade-in-logo 1s ease-in-out forwards;
}

.arrow {
  margin: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  animation: arrow-animation 1s infinite;
}

.arrow:hover {
  cursor: pointer;
}

@keyframes arrow-animation {
  0% { transform: translateY(0); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", sans-serif;
}

.header {
  position: fixed;
  height: 8dvh;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding-small);
  background-color: transparent;
  color: white;
  transition: height 0.6s, background-color 0.2s;
  z-index: 90;
}

.header.sticky {
  height: 3dvh;
  background-color: rgba(46, 46, 46);
}

.header.sticky .header__icon {
  height: var(--icon-size-large);
  width: var(--icon-size-large);
}

.header.sticky .header__title {
  display: block;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.header__title {
  font-size: var(--font-size-medium);
  margin-left: var(--gap-small);
  display: none;
}

.header__icon {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
  transition: 0.3s;
}

.header__nav {
  position: relative;
  right: 40px;
  margin-left: auto;
}

.header__nav > ul {
  display: flex;
  gap: var(--gap-small);
  list-style: none;
}

.header__nav-link {
  text-decoration: none;
  color: white;
  font-size: var(--font-size-small);
}

.header__nav-link:hover {
  text-decoration: underline;
}

.hero {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-large) var(--padding-small);
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative; /* Added for overlay */
  color: white;
  padding: var(--padding-large);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(60, 60, 60)); /* Gradient overlay */
  z-index: 1; /* Ensure it appears above the background */
}

.hero__content {
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  display: flex;
  position: relative;
  z-index: 2;
  padding: 0 2rem;
}

.hero__logo {
  display: none;
  width: 100%;
}

.hero__title {
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 0;
}

.hero__cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.cta-button {
  width: 100%;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: white;
  font-family: "Rubik", sans-serif;
  border: none;
  color: black;
  border-radius: 2rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s;
}

.cta-button--text {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  transition: all 0.3s;
}

.cta-button--text:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all 0.3s;
}

.cta-anchor {
  width: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-small);
  gap: var(--gap-large);
}

.hero__image {
  display: flex;
  justify-content: center;
  margin: 0;
}

.hero__img {
  border-radius: 1rem;
  max-width: var(--max-width-large);
  height: auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-height: 1080px;
  padding: 0rem 2rem;
  background-color: white;
}

.section--dark {
  background-color: #f3f4f6;
}

.section__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: var(--gap-large);
  flex-wrap: wrap;
}

.section--dark > .container > .section__content {
  flex-direction: row;
 }

.section__text-content {
  max-width: var(--max-width-small);
}

.section__badge {
  display: inline-block;
  background-color: #f3f4f6;
  font-weight: bold;
  color: rgb(60, 60, 60);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.section__badge--dark {
  background-color: white;
}

.section__title {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 1rem 0;
}

.section__text {
  font-size: var(--font-size-medium);
  color: #566170;
}

.section__img {
  border-radius: 1rem;
  max-width: var(--max-width-small);
  height: auto;
}

.tech-grid {
  max-width: 560px;
  display: grid;
  grid-template-columns: repeat(2, minmax(80px, 1fr));
  gap: 2rem;
}

.tech-grid__item {
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  padding: 2rem;
  border-radius: 2rem;
}

.tech-grid__item--dark {
  background-color: white;
}

.tech-grid__icon {
  height: var(--icon-size-large);
  width: var(--icon-size-large);
  margin-bottom: var(--padding-small);
}

.tech-grid__title {
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tech-grid__text {
  font-size: var(--font-size-small);
  color: #4b5563;
}

@media (max-width: 1440px) {
  :root {
    --padding-large: 2rem;
    --gap-large: 4rem;
    --icon-size-large: 40px;
    --max-width-small: 400px;
  }
}

@media (max-width: 1280px) {
  :root {
    --padding-large: 1.5rem;
    --gap-large: 3rem;
    --icon-size-large: 36px;
    --max-width-small: 380px;
  }
}

@media (max-width: 1100px) {
  :root {
    --padding-large: 1.5rem;
    --gap-large: 2rem;
    --icon-size-large: 32px;
    --max-width-small: 80%;
  }

  .hero {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
  }

  .hero__img {
    max-width: 100%;
  }
  
  .section {
    padding: 4rem 2rem;
  }
  
  .section__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .tech-grid__icon {
    margin: 0 auto 0.5rem;
  }

  .tech-grid__title {
    text-align: center;
  }

  .tech-grid__text {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  :root {
    --padding-large: 1.5rem;
    --gap-large: 2rem;
    --icon-size-large: 32px;
    --max-width-small: 380px;
  }

  .section {
    max-height: max-content;
  }

  .tech-grid__icon {
    margin: 0 auto 0.5rem;
  }

  .tech-grid__title {
    text-align: center;
  }

  .tech-grid__text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  :root {
    --padding-small: 0.5rem;
    --padding-large: 1rem;
    --gap-large: 1rem;
    --icon-size-small: 24px;
    --icon-size-large: 24px;
  }

  .header__nav {
    display: none;
  }

  .section__content {
    flex-direction: column;
  }

  .tech-grid {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .tech-grid__item {
    max-width: 200px;
  }
}